.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;

}

.App-title {
  font-size: 16px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navi{

  font-family: sans-serif;
}

body{
  background-image: url(diary.jpg);
  background-repeat: norepeat;
  background-size: cover;
}

.title{
  padding-top: 50px;
 
}

.input{
  margin-top: 30px;
  width: 100%;
  color: white;
}


input{
  width: 100%;

}

p{
  margin-top: 10px;
 margin: 0 auto;
  padding-left: 15px;
  width: 40%;
  
}

.button{
  margin-top: 10px;
  margin-right: 5px;
}



